---
import HorizontalLayout from "../layouts/HorizontalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageBody from "../components/PageBody.astro";

const spacingAttrs = {
  "m": "margin",
  "my": "margin-top and margin-bottom",
  "mx": "margin-left and margin-right",
  "mt": "margin-top",
  "mr": "margin-right",
  "mb": "margin-bottom",
  "ml": "margin-left",
  "p": "padding",
  "py": "padding-top and padding-bottom",
  "px": "padding-left and padding-right",
  "pt": "padding-top",
  "pr": "padding-right",
  "pb": "padding-bottom",
  "pl": "padding-left"
};

const sizeEntries = [
  ['sm', { rem: '0.25rem', px: '4px' }],
  ['md', { rem: '0.5rem', px: '8px' }],
  ['lg', { rem: '1rem', px: '16px' }],
  ['xl', { rem: '2rem', px: '32px' }],
  ['xxl', { rem: '4rem', px: '64px' }],
]
---

<HorizontalLayout title="Spacing helpers | Darki Admin">
  <PageHeader title="Spacing helpers" />
  <PageBody>
    <p class="text-p mb-xl">Change margin and padding with predefined size.</p>
    <div class="card mb-xxl">
      <div class="card__body content">
        <h3>Class name format</h2>
        <b>.<code>property</code>-<code>size</code></b>
        <br>
        <br>
        <div class="grid-2">
          <div>
            <h3>Properties</h3>
            <table>
              <thead>
                <tr>
                  <th>name</th>
                  <th>css attribute</th>
                </tr>
              </thead>
              <tbody>
                {Object.entries(spacingAttrs).map(e => (
                  <tr>
                    <td class="font-bold"><code>{e[0]}</code></td>
                    <td>{e[1]}</td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>

          <div>
            <h3>Size</h3>
            <table>
              <thead>
                <tr>
                  <th>name</th>
                  <th>css attribute</th>
                </tr>
              </thead>
              <tbody>
                {sizeEntries.map(e => (
                  <tr>
                    <td class="font-bold"><code>{e[0]}</code></td>
                    <td>{e[1].rem}</td>
                    <td>{e[1].px}</td>
                  </tr>
                ))}
              </tbody>
            </table>
            <p><code>auto</code> size is available for one-directional properties <br> such as top, right, bottom and left.</p>
          </div>
        </div>
      </div>
    </div>
  </PageBody>
</HorizontalLayout>
